/* Corpo do site */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
  }
  
  /* Botão WhatsApp */
  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #25d366;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .whatsapp-button img {
    width: 40px;
    height: 40px;
  }
  
  /* Botão Chatbot */
  .chatbot-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .chatbot-button img {
    width: 40px;
    height: 40px;
  }
  
  /* Chatbot Popup */
  .chat-popup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: none;
  }
  
  .chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .chat-body {
    padding: 10px;
    font-size: 14px;
    overflow-y: auto;
    max-height: 200px;
  }
  
  .chat-buttons {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .chat-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
  }
  
  .chat-buttons button:hover {
    background-color: #0056b3;
  }
  